#photog-image {
	height: 75vh;
	width: 1500px;
}

#userpic {
	height: 200px;
	width: 180px;
	z-index: 1;
}

#freelancer-avatar {
	position: relative;
	bottom: 75px;
	left: 20%;
}
#jumbo {
	position: relative;
	margin: -18%;
	margin-left: -1.25%;
	width: 1145px;
}
#dumbo {
	position:relative;
}












 